# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import h5py

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
display(applicant_data_df.head())

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
display(applicant_data_df['IS_SUCCESSFUL'].value_counts())

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)
# Review the DataFrame
display(encoded_df.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df['ASK_AMT']], axis=1)

# Review the Dataframe
display(encoded_df.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df['IS_SUCCESSFUL']

# Display a sample of y
display(y.head())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df

# Review the features DataFrame
display(X.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(list(X.columns))
# Review the number of features
number_input_features

117

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  int(round((number_input_features + number_output_neurons)/2, 0))
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

59

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  int(round((hidden_nodes_layer1 + number_output_neurons)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 59)                6962
_________________________________________________________________
dense_1 (Dense)              (None, 30)                1800
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 8,793
Trainable params: 8,793
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50, verbose=0)

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=True)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 392us/step - loss: 0.5596 - accuracy: 0.7321
Loss: 0.5596276521682739, Accuracy: 0.7321282625198364

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Deep learning model with 2 hidden layers

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])
print(number_input_features)

117

In [29]:
# Review the number of features
number_input_features

117

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  int(round((number_input_features + number_output_neurons_A1)/2, 0))
# Review the number hidden nodes in the first layer
hidden_nodes_layer1_A1

59

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 =  int(round((hidden_nodes_layer1_A1 + number_output_neurons_A1)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A1

30

In [33]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer3_A1 =  int(round((hidden_nodes_layer2_A1 + number_output_neurons_A1)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A1

16

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# Add the first hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

In [36]:
# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

In [37]:
# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))

In [38]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

In [39]:
# Display the Sequential model summary
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 59)                6962
_________________________________________________________________
dense_4 (Dense)              (None, 30)                1800
_________________________________________________________________
dense_5 (Dense)              (None, 16)                496
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 17
=================================================================
Total params: 9,275
Trainable params: 9,275
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model using 50 epochs and the training data
model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=0)

### Alternative Model 2 - Deep learning model with 3 hidden layers

In [42]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])
print(number_input_features)

117

In [43]:
# Review the number of features
number_input_features

117

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =  int(round((number_input_features + number_output_neurons_A2)/2, 0))
# Review the number hidden nodes in the first layer
hidden_nodes_layer1_A2

59

In [46]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 =  int(round((hidden_nodes_layer1_A2 + number_output_neurons_A2)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A2

30

In [47]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer3_A2 =  int(round((hidden_nodes_layer2_A1 + number_output_neurons_A2)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A2

16

In [48]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer4_A2 =  int(round((hidden_nodes_layer3_A1 + number_output_neurons_A2)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer4_A2

8

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# Add the first hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", input_dim=number_input_features))

In [51]:
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

In [52]:
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

In [53]:
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, activation="relu"))

In [54]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

In [55]:
# Display the Sequential model summary
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 59)                6962
_________________________________________________________________
dense_8 (Dense)              (None, 30)                1800
_________________________________________________________________
dense_9 (Dense)              (None, 16)                496
_________________________________________________________________
dense_10 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 9
=================================================================
Total params: 9,403
Trainable params: 9,403
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the Sequential model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Fit the model using 50 epochs and the training data
model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50, verbose=0)

#### Alternative Model 3 - Principal Component Analysis

In [58]:
from sklearn.decomposition import PCA

In [59]:
# Create a StandardScaler instance
pca_scaler = StandardScaler()

# Fit the scaler to the features
X_pca_scaler = pca_scaler.fit(X)

# Fit the scaler to the features
X_pca_scaled = X_pca_scaler.transform(X)

In [60]:
for n in range(2, number_input_features):
    pca = PCA(n_components=n, random_state=1)
    X_pca = pca.fit_transform(X_pca_scaled)
    exp_var = pca.explained_variance_ratio_
#     print(f'{exp_var}')
    print(f'N = {n:3}: Total explained variance: {100*exp_var.sum():.4f}%')

N =   2: Total explained variance: 6.4453%
N =   3: Total explained variance: 8.3047%
N =   4: Total explained variance: 9.9108%
N =   5: Total explained variance: 11.4784%
N =   6: Total explained variance: 12.9494%
N =   7: Total explained variance: 14.2988%
N =   8: Total explained variance: 15.5871%
N =   9: Total explained variance: 16.7971%
N =  10: Total explained variance: 17.8919%
N =  11: Total explained variance: 18.8328%
N =  12: Total explained variance: 19.4368%
N =  13: Total explained variance: 20.3039%
N =  14: Total explained variance: 21.2938%
N =  15: Total explained variance: 22.1514%
N =  16: Total explained variance: 23.0608%
N =  17: Total explained variance: 23.9705%
N =  18: Total explained variance: 24.9101%
N =  19: Total explained variance: 25.7821%
N =  20: Total explained variance: 26.6941%
N =  21: Total explained variance: 27.6161%
N =  22: Total explained variance: 28.4359%
N =  23: Total explained variance: 29.3374%
N =  24: Total explained variance: 30.1961%
N =  25: Total explained variance: 31.1506%
N =  26: Total explained variance: 31.9199%
N =  27: Total explained variance: 32.8767%
N =  28: Total explained variance: 33.6973%
N =  29: Total explained variance: 34.5230%
N =  30: Total explained variance: 35.4530%
N =  31: Total explained variance: 36.3050%
N =  32: Total explained variance: 37.1834%
N =  33: Total explained variance: 38.0819%
N =  34: Total explained variance: 38.9375%
N =  35: Total explained variance: 39.8217%
N =  36: Total explained variance: 40.7043%
N =  37: Total explained variance: 41.5546%
N =  38: Total explained variance: 42.4057%
N =  39: Total explained variance: 43.3587%
N =  40: Total explained variance: 44.1541%
N =  41: Total explained variance: 45.0378%
N =  42: Total explained variance: 45.8805%
N =  43: Total explained variance: 46.7749%
N =  44: Total explained variance: 47.6610%
N =  45: Total explained variance: 48.5064%
N =  46: Total explained variance: 49.3476%
N =  47: Total explained variance: 50.2464%
N =  48: Total explained variance: 51.1145%
N =  49: Total explained variance: 51.9707%
N =  50: Total explained variance: 52.8750%
N =  51: Total explained variance: 53.7136%
N =  52: Total explained variance: 54.5617%
N =  53: Total explained variance: 55.4162%
N =  54: Total explained variance: 56.3085%
N =  55: Total explained variance: 57.1456%
N =  56: Total explained variance: 58.0520%
N =  57: Total explained variance: 58.9150%
N =  58: Total explained variance: 59.7817%
N =  59: Total explained variance: 60.6061%
N =  60: Total explained variance: 61.4807%
N =  61: Total explained variance: 62.3466%
N =  62: Total explained variance: 63.2331%
N =  63: Total explained variance: 64.0611%
N =  64: Total explained variance: 64.9351%
N =  65: Total explained variance: 65.8228%
N =  66: Total explained variance: 66.6504%
N =  67: Total explained variance: 67.5280%
N =  68: Total explained variance: 68.4049%
N =  69: Total explained variance: 69.2471%
N =  70: Total explained variance: 70.0699%
N =  71: Total explained variance: 70.9537%
N =  72: Total explained variance: 71.8084%
N =  73: Total explained variance: 72.6769%
N =  74: Total explained variance: 73.5442%
N =  75: Total explained variance: 74.4031%
N =  76: Total explained variance: 75.2728%
N =  77: Total explained variance: 76.1169%
N =  78: Total explained variance: 76.9936%
N =  79: Total explained variance: 77.8267%
N =  80: Total explained variance: 78.6990%
N =  81: Total explained variance: 79.5526%
N =  82: Total explained variance: 80.4197%
N =  83: Total explained variance: 81.2529%
N =  84: Total explained variance: 82.1106%
N =  85: Total explained variance: 82.9801%
N =  86: Total explained variance: 83.8337%
N =  87: Total explained variance: 84.7094%
N =  88: Total explained variance: 85.5407%
N =  89: Total explained variance: 86.4131%
N =  90: Total explained variance: 87.2398%
N =  91: Total explained variance: 88.0767%
N =  92: Total explained variance: 88.9460%
N =  93: Total explained variance: 89.8079%
N =  94: Total explained variance: 90.7495%
N =  95: Total explained variance: 91.5590%
N =  96: Total explained variance: 92.3646%
N =  97: Total explained variance: 93.1666%
N =  98: Total explained variance: 93.9537%
N =  99: Total explained variance: 94.7222%
N = 100: Total explained variance: 95.4874%
N = 101: Total explained variance: 96.2375%
N = 102: Total explained variance: 96.9566%
N = 103: Total explained variance: 97.5881%
N = 104: Total explained variance: 98.2101%
N = 105: Total explained variance: 98.7766%
N = 106: Total explained variance: 99.2374%
N = 107: Total explained variance: 99.6423%
N = 108: Total explained variance: 99.8700%
N = 109: Total explained variance: 100.0000%
N = 110: Total explained variance: 100.0000%
N = 111: Total explained variance: 100.0000%
N = 112: Total explained variance: 100.0000%
N = 113: Total explained variance: 100.0000%
N = 114: Total explained variance: 100.0000%
N = 115: Total explained variance: 100.0000%
N = 116: Total explained variance: 100.0000%

In [61]:
best_n = 109
pca = PCA(n_components=best_n, random_state=1)
X_pca = pca.fit_transform(X_pca_scaled)
exp_var = pca.explained_variance_ratio_
print(f'N = {best_n:3}: Total explained variance: {100*exp_var.sum():.4f}%')

N = 109: Total explained variance: 100.0000%

In [62]:
X_pca_train, X_pca_test, y_pca_train, y_pca_test = train_test_split(X_pca, y, random_state=1)

In [63]:
# Define the the number of inputs (features) to the model
number_input_features = best_n
print(number_input_features)

109

In [64]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [65]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 =  int(round((number_input_features + number_output_neurons_A3)/2, 0))
# Review the number hidden nodes in the first layer
hidden_nodes_layer1_A3

55

In [66]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A3 =  int(round((hidden_nodes_layer1_A3 + number_output_neurons_A3)/2, 0))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A3

28

In [67]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A3 =  int(round((hidden_nodes_layer2_A3 + number_output_neurons_A3)/2, 0))

# Review the number hidden nodes in the third layer
hidden_nodes_layer3_A3

14

In [68]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [69]:
# Add the first hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, activation="relu", input_dim=number_input_features))

In [70]:
# Add the second hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer2_A3, activation="relu"))

In [71]:
# Add the third hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer3_A3, activation="relu"))

In [72]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A3.add(Dense(units=number_output_neurons_A3, activation="sigmoid"))

In [73]:
# Display the Sequential model summary
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 55)                6050
_________________________________________________________________
dense_13 (Dense)             (None, 28)                1568
_________________________________________________________________
dense_14 (Dense)             (None, 14)                406
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 15
=================================================================
Total params: 8,039
Trainable params: 8,039
Non-trainable params: 0
_________________________________________________________________

In [74]:
# Compile the Sequential model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [75]:
# Fit the model using 50 epochs and the training data
model_A3 = nn_A3.fit(X_pca_train, y_pca_train, epochs=50, verbose=1)

Epoch 1/50
804/804 [==============================] - 1s 553us/step - loss: 0.5789 - accuracy: 0.7180
Epoch 2/50
804/804 [==============================] - 0s 543us/step - loss: 0.5518 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 0s 544us/step - loss: 0.5491 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 0s 546us/step - loss: 0.5469 - accuracy: 0.7334
Epoch 5/50
804/804 [==============================] - 0s 543us/step - loss: 0.5459 - accuracy: 0.7328
Epoch 6/50
804/804 [==============================] - 0s 542us/step - loss: 0.5442 - accuracy: 0.7345
Epoch 7/50
804/804 [==============================] - 0s 546us/step - loss: 0.5441 - accuracy: 0.7335
Epoch 8/50
804/804 [==============================] - 0s 548us/step - loss: 0.5434 - accuracy: 0.7359
Epoch 9/50
804/804 [==============================] - 0s 561us/step - loss: 0.5429 - accuracy: 0.7349
Epoch 10/50
804/804 [==============================] - 0s 548us/step - loss: 0.5423 - accuracy: 0.7342
Epoch 11/50
804/804 [==============================] - 0s 544us/step - loss: 0.5416 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 0s 583us/step - loss: 0.5416 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 0s 560us/step - loss: 0.5407 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 0s 553us/step - loss: 0.5410 - accuracy: 0.7362
Epoch 15/50
804/804 [==============================] - 0s 553us/step - loss: 0.5402 - accuracy: 0.7363
Epoch 16/50
804/804 [==============================] - 0s 558us/step - loss: 0.5399 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 0s 546us/step - loss: 0.5392 - accuracy: 0.7366
Epoch 18/50
804/804 [==============================] - 0s 542us/step - loss: 0.5397 - accuracy: 0.7367
Epoch 19/50
804/804 [==============================] - 0s 543us/step - loss: 0.5390 - accuracy: 0.7377
Epoch 20/50
804/804 [==============================] - 0s 543us/step - loss: 0.5388 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 0s 546us/step - loss: 0.5387 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 0s 555us/step - loss: 0.5380 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 0s 544us/step - loss: 0.5378 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 0s 546us/step - loss: 0.5383 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 0s 543us/step - loss: 0.5373 - accuracy: 0.7380
Epoch 26/50
804/804 [==============================] - 0s 549us/step - loss: 0.5375 - accuracy: 0.7384
Epoch 27/50
804/804 [==============================] - 0s 553us/step - loss: 0.5371 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 0s 550us/step - loss: 0.5368 - accuracy: 0.7394
Epoch 29/50
804/804 [==============================] - 0s 545us/step - loss: 0.5366 - accuracy: 0.7375
Epoch 30/50
804/804 [==============================] - 0s 563us/step - loss: 0.5364 - accuracy: 0.7383
Epoch 31/50
804/804 [==============================] - 0s 570us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 0s 545us/step - loss: 0.5364 - accuracy: 0.7379
Epoch 33/50
804/804 [==============================] - 0s 545us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 34/50
804/804 [==============================] - 0s 546us/step - loss: 0.5361 - accuracy: 0.7397
Epoch 35/50
804/804 [==============================] - 0s 551us/step - loss: 0.5358 - accuracy: 0.7375
Epoch 36/50
804/804 [==============================] - 0s 551us/step - loss: 0.5353 - accuracy: 0.7396
Epoch 37/50
804/804 [==============================] - 0s 553us/step - loss: 0.5351 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 0s 556us/step - loss: 0.5352 - accuracy: 0.7379
Epoch 39/50
804/804 [==============================] - 0s 548us/step - loss: 0.5349 - accuracy: 0.7379
Epoch 40/50
804/804 [==============================] - 0s 544us/step - loss: 0.5354 - accuracy: 0.7387
Epoch 41/50
804/804 [==============================] - 0s 544us/step - loss: 0.5348 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 0s 544us/step - loss: 0.5347 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 0s 544us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 44/50
804/804 [==============================] - 0s 566us/step - loss: 0.5346 - accuracy: 0.7387
Epoch 45/50
804/804 [==============================] - 0s 556us/step - loss: 0.5344 - accuracy: 0.7388
Epoch 46/50
804/804 [==============================] - 0s 561us/step - loss: 0.5343 - accuracy: 0.7401
Epoch 47/50
804/804 [==============================] - 0s 553us/step - loss: 0.5339 - accuracy: 0.7395
Epoch 48/50
804/804 [==============================] - 0s 600us/step - loss: 0.5342 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 0s 570us/step - loss: 0.5337 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 0s 556us/step - loss: 0.5335 - accuracy: 0.7394

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [76]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=True)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 415us/step - loss: 0.5596 - accuracy: 0.7321
Loss: 0.5596276521682739, Accuracy: 0.7321282625198364

In [77]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=True)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 396us/step - loss: 0.5533 - accuracy: 0.7290
Loss: 0.5533061027526855, Accuracy: 0.7289795875549316

In [78]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=True)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 407us/step - loss: 0.5557 - accuracy: 0.7312
Loss: 0.5557147264480591, Accuracy: 0.731195330619812

In [79]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_pca_test, y_pca_test, verbose=True)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 [==============================] - 0s 406us/step - loss: 0.5592 - accuracy: 0.7305
Loss: 0.5591974854469299, Accuracy: 0.7304956316947937

### Run different numbers of epochs on best model

In [80]:
# Fit the model using the training data with different numbers of epochs
model_list = []
for n in range(50, 151, 20):
    print(f'Fitting model, epochs: {n}')
    model_list.append(nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=False))
#     model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=False)

    # Evaluate the model loss and accuracy metrics using the evaluate method and the test data
    model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=True)
    # Display the model loss and accuracy results
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Fitting model, epochs: 50
268/268 [==============================] - 0s 424us/step - loss: 0.5624 - accuracy: 0.7277
Loss: 0.5624222755432129, Accuracy: 0.7276967763900757
Fitting model, epochs: 70
268/268 [==============================] - 0s 437us/step - loss: 0.5711 - accuracy: 0.7303
Loss: 0.5710726380348206, Accuracy: 0.7302623987197876
Fitting model, epochs: 90
268/268 [==============================] - 0s 408us/step - loss: 0.5758 - accuracy: 0.7304
Loss: 0.5757629871368408, Accuracy: 0.7303789854049683
Fitting model, epochs: 110
268/268 [==============================] - 0s 428us/step - loss: 0.5911 - accuracy: 0.7276
Loss: 0.5911150574684143, Accuracy: 0.727580189704895
Fitting model, epochs: 130
268/268 [==============================] - 0s 441us/step - loss: 0.5956 - accuracy: 0.7277
Loss: 0.5956258773803711, Accuracy: 0.7276967763900757
Fitting model, epochs: 150
268/268 [==============================] - 0s 430us/step - loss: 0.5994 - accuracy: 0.7280
Loss: 0.5993683934211731, Accuracy: 0.7280466556549072

In [81]:
# for model in model_list:
#     pass
#     print(model.history)
    # Evaluate the model loss and accuracy metrics using the evaluate method and the test data
#     model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=True)
    # Display the model loss and accuracy results
#     print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [82]:
# Set the file path for the first alternative model
file_path_A1 = Path('Resources/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path_A1)

In [83]:
# Set the file path for the second alternative model
file_path_A2 = Path('Resources/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path_A2)

In [84]:
# # Set the file path for the third alternative model
file_path_A3 = Path('Resources/AlphabetSoup_A3.h5')

# # Export your model to a HDF5 file
nn_A3.save(file_path_A3)