In [1]:
import talib
import yfinance as yf

In [2]:
data = yf.download("SPY", start='2020-01-01', end='2020-08-01')

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,323.540009,324.890015,322.529999,324.869995,315.824860,59151200
2020-01-03,321.160004,323.640015,321.100006,322.410004,313.433350,77709700
2020-01-06,320.489990,323.730011,320.359985,323.640015,314.629120,55653900
2020-01-07,323.019989,323.540009,322.239990,322.730011,313.744415,40496400
2020-01-08,322.940002,325.779999,322.670013,324.450012,315.416595,68296000

In [3]:
engulfing = talib.CDLENGULFING(data['Open'], data['High'], data['Low'], data['Close'])

morning_stars = talib.CDLMORNINGSTAR(data['Open'], data['High'], data['Low'], data['Close'])

data['Morning Star'] = morning_stars

data['Engulfing'] = engulfing

data.head(20)

,Open,High,Low,Close,Adj Close,Volume,Morning Star,Engulfing
Date,,,,,,,,
2020-01-02,323.540009,324.890015,322.529999,324.869995,315.824860,59151200,0,0
2020-01-03,321.160004,323.640015,321.100006,322.410004,313.433350,77709700,0,0
2020-01-06,320.489990,323.730011,320.359985,323.640015,314.629120,55653900,0,0
2020-01-07,323.019989,323.540009,322.239990,322.730011,313.744415,40496400,0,0
2020-01-08,322.940002,325.779999,322.670013,324.450012,315.416595,68296000,0,0
2020-01-09,326.160004,326.730011,325.519989,326.649994,317.555298,48473300,0,0
2020-01-10,327.290009,327.459991,325.200012,325.709991,316.641479,53029300,0,-100
2020-01-13,326.390015,327.959991,325.920013,327.950012,318.819122,47086800,0,0
2020-01-14,327.470001,328.619995,326.839996,327.450012,318.333069,62832800,0,0
2020-01-15,327.350006,329.019989,327.260010,328.190002,319.052429,72056600,0,100
2020-01-16,329.700012,330.920013,329.450012,330.920013,321.706421,54050300,0,0
2020-01-17,331.700012,332.179993,330.850006,331.950012,322.707764,95846000,0,0
2020-01-21,330.899994,332.179993,330.820007,331.299988,322.075867,77742400,0,0
2020-01-22,332.239990,332.950012,331.170013,331.339996,322.114746,48914900,0,0
2020-01-23,330.630005,332.170013,329.410004,331.720001,322.484131,51963000,0,0
2020-01-24,332.440002,332.529999,327.359985,328.769989,319.616272,87578400,0,-100
2020-01-27,323.029999,325.119995,322.660004,323.500000,314.493011,84062500,0,0
2020-01-28,325.059998,327.850006,323.600006,326.890015,317.788635,63834000,0,0
2020-01-29,328.380005,328.630005,326.399994,326.619995,317.526154,53888900,0,0
2020-01-30,324.359985,327.910004,323.540009,327.679993,318.556641,75491800,0,0

In [4]:
engulfing_days = data[data['Engulfing'] != 0]
engulfing_days

,Open,High,Low,Close,Adj Close,Volume,Morning Star,Engulfing
Date,,,,,,,,
2020-01-10,327.290009,327.459991,325.200012,325.709991,316.641479,53029300,0,-100
2020-01-15,327.350006,329.019989,327.260010,328.190002,319.052429,72056600,0,100
2020-01-24,332.440002,332.529999,327.359985,328.769989,319.616272,87578400,0,-100
2020-02-10,331.230011,334.750000,331.190002,334.679993,325.361725,42070000,0,100
2020-03-20,242.529999,244.470001,228.500000,228.800003,223.737625,347158800,0,-100
2020-04-02,245.190002,252.679993,244.589996,251.830002,246.258102,177660400,0,100
2020-05-12,293.790009,294.239990,286.519989,286.670013,280.327240,95870800,0,-100
2020-06-10,321.420013,322.390015,318.220001,319.000000,311.941895,95000800,0,-100
2020-06-19,314.170013,314.380005,306.529999,308.640015,303.139252,135549600,0,-100
2020-07-09,316.839996,317.100006,310.679993,314.380005,308.776947,83354200,0,-100
2020-07-10,314.309998,317.880005,312.760010,317.589996,311.929749,57550400,0,100
2020-07-20,321.429993,325.130005,320.619995,324.320007,318.539825,56308800,0,100
2020-07-22,324.619995,327.200012,324.500000,326.859985,321.034515,57792900,0,100