# Pivot Points (Support and Resistance) - TraderView

### For intra day trading (trades opened and closed during the same trading day) we will use the "resolution" or TimeFrame of 1D to determine our High, Low, Close that will be used in the calculations

# Traditional
 PP = (HIGHprev + LOWprev + CLOSEprev) / 3

 R1 = PP * 2 - LOWprev

 S1 = PP * 2 - HIGHprev

 R2 = PP + (HIGHprev - LOWprev)

 S2 = PP - (HIGHprev - LOWprev)

 R3 = PP * 2 + (HIGHprev - 2 * LOWprev)

 S3 = PP * 2 - (2 * HIGHprev - LOWprev)

 R4 = PP * 3 + (HIGHprev - 3 * LOWprev)

 S4 = PP * 3 - (3 * HIGHprev - LOWprev)

 R5 = PP * 4 + (HIGHprev - 4 * LOWprev)

 S5 = PP * 4 - (4 * HIGHprev - LOWprev)

# Fibonacci
 PP = (HIGHprev + LOWprev + CLOSEprev) / 3 

 R1 = PP + 0.382 * (HIGHprev - LOWprev)

 S1 = PP - 0.382 * (HIGHprev - LOWprev)

 R2 = PP + 0.618 * (HIGHprev - LOWprev)

 S2 = PP - 0.618 * (HIGHprev - LOWprev)

 R3 = PP + (HIGHprev - LOWprev)

 S3 = PP - (HIGHprev - LOWprev)

# Woodie
 PP = (HIGHprev + LOWprev + 2 * OPENcurr) / 4

 R1 = 2 * PP - LOWprev

 S1 = 2 * PP - HIGHprev

 R2 = PP + (HIGHprev - LOWprev)

 S2 = PP - (HIGHprev - LOWprev)

 R3 =  HIGHprev + 2 * (PP -  LOWprev)

 S3 =  LOWprev - 2 * (HIGHprev - PP)

 R4 = R3 + (HIGHprev - LOWprev)

 S4 = S3 - (HIGHprev - LOWprev)


# Classic
  PP = (HIGHprev + LOWprev + CLOSEprev) / 3

  R1 = 2 * PP - LOWprev

  S1 = 2 * PP - HIGHprev

  R2 = PP + (HIGHprev - LOWprev)

  S2 = PP - (HIGHprev - LOWprev)

  R3 = PP + 2 * (HIGHprev - LOWprev)

  S3 = PP - 2 * (HIGHprev - LOWprev)

  R4 = PP + 3 * (HIGHprev - LOWprev)

  S4 = PP - 3 * (HIGHprev - LOWprev)

# Denmark
   IF  OPENprev == CLOSEprev

        X = HIGHprev + LOWprev + 2 * CLOSEprev

   ELSE IF CLOSEprev >  OPENprev

        X = 2 * HIGHprev + LOWprev + CLOSEprev

   ELSE

        X = 2 * LOWprev + HIGHprev + CLOSEprev

        PP = X / 4

        R1 = X / 2 - LOWprev
        
        S1 = X / 2 - HIGHprev

# Camarilla
  PP = (HIGHprev + LOWprev + CLOSEprev) / 3

  R1 = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 12

  S1 = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 12

  R2 = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 6

  S2 = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 6

  R3 = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 4

  S3 = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 4

  R4 = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 2
  
  S4 = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 2

# Bullish Engulfing Pattern

https://www.youtube.com/watch?v=3Bs1QJQPKDc

def is_bearish_candlestick(candle):
    return candle['Close'] < candle['Open']

def is_bullish_engulfing(candles, index):
    current_day = candels[index]
    previous_day = candles[index - 1]

    if is_bearish candlestick(previous_day) \
        and current_day['Close'] > previous_day['Open'] \ 
        and current_day['Open'] < previous_day['Close]:
        return True
    return False

with open('whatever.csv') as f:
    reader = csv.DictReader(f)
    condales = list(reader)

for i in range(1, len(candles)):
    print(candles[i])

    if is_bullish_engulfing(candles, i):
        print('{}It is a bullish engulfing'.format(candles[i]['Date']))

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [10]:
ticker = yf.Ticker('MSFT')

hist = ticker.history(period='30d', interval='1d')

df_original = pd.DataFrame(hist)
df_original.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-19,288.690002,297.470001,288.640015,296.769989,29850500,0,0
2021-08-20,299.720001,305.839996,298.059998,304.359985,40796100,0,0
2021-08-23,303.250000,305.399994,301.850006,304.649994,22830200,0,0
2021-08-24,305.019989,305.649994,302.000000,302.619995,18175800,0,0
2021-08-25,304.299988,304.589996,300.420013,302.010010,20006100,0,0

In [11]:
df_traditional = df_original.copy()

# Traditional S/R
df_traditional['PP'] = (df_traditional['High'].shift(1) + df_traditional['Low'].shift(1) + df_traditional['Close'].shift(1)) / 3
df_traditional['R1'] = df_traditional['PP'] * 2 - df_traditional['Low'].shift(1)
df_traditional['R2'] = df_traditional['PP'] + (df_traditional['High'].shift(1) - df_traditional['Low'].shift(1))
df_traditional['R3'] = df_traditional['PP'] * 2 + (df_traditional['High'].shift(1) - 2 * df_traditional['Low'].shift(1))
df_traditional['R4'] = df_traditional['PP'] * 3 + (df_traditional['High'].shift(1) - 3 * df_traditional['Low'].shift(1))
df_traditional['R5'] = df_traditional['PP'] * 4 + (df_traditional['High'].shift(1) - 4 * df_traditional['Low'].shift(1))
df_traditional['S1'] = df_traditional['PP'] * 2 - df_traditional['High'].shift(1)
df_traditional['S2'] = df_traditional['PP'] - (df_traditional['High'].shift(1) - df_traditional['Low'].shift(1))
df_traditional['S3'] = df_traditional['PP'] * 2 - (2 * df_traditional['High'].shift(1) - df_traditional['Low'].shift(1))
df_traditional['S4'] = df_traditional['PP'] * 3 - (3 * df_traditional['High'].shift(1) - df_traditional['Low'].shift(1))
df_traditional['S5'] = df_traditional['PP'] * 4 - (4 * df_traditional['High'].shift(1) - df_traditional['Low'].shift(1))

df_traditional.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,PP,R1,R2,R3,R4,R5,S1,S2,S3,S4,S5
Date,,,,,,,,,,,,,,,,,,
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0,0,299.329997,301.129995,302.699992,304.499990,306.299988,308.099986,297.760000,295.960002,294.390004,292.820007,291.250010
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,298.693329,300.456665,301.563324,303.326660,305.089996,306.853333,297.586670,295.823334,294.716675,293.610016,292.503357
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,294.526672,296.113342,298.056671,299.643341,301.230011,302.816681,292.583344,290.996674,289.053345,287.110016,285.166687
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,285.683329,288.616659,293.713328,296.646657,299.579987,302.513316,280.586660,277.653330,272.556661,267.459991,262.363322
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,284.593333,286.176656,288.353312,289.936635,291.519958,293.103282,282.416677,280.833354,278.656698,276.480042,274.303385

In [12]:
df_fibonacci = df_original.copy()


# Fibonacci S/R
df_fibonacci['PP'] = (df_fibonacci['High'].shift(1) + df_fibonacci['Low'].shift(1) + df_fibonacci['Close'].shift(1)) / 3
df_fibonacci['R1'] = df_fibonacci['PP'] + 0.382 * (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))
df_fibonacci['S1'] = df_fibonacci['PP'] - 0.382 * (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))
df_fibonacci['R2'] = df_fibonacci['PP'] + 0.618 * (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))
df_fibonacci['S2'] = df_fibonacci['PP'] - 0.618 * (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))
df_fibonacci['R3'] = df_fibonacci['PP'] + (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))
df_fibonacci['S3'] = df_fibonacci['PP'] - (df_fibonacci['High'].shift(1) - df_fibonacci['Low'].shift(1))

In [14]:
df_fibonacci.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,PP,R1,S1,R2,S2,R3,S3
Date,,,,,,,,,,,,,,
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0,0,299.329997,300.617335,298.042659,301.412654,297.247340,302.699992,295.960002
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,298.693329,299.789667,297.596991,300.466986,296.919672,301.563324,295.823334
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,294.526672,295.875132,293.178213,296.708212,292.345133,298.056671,290.996674
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,285.683329,288.750789,282.615870,290.645869,280.720790,293.713328,277.653330
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,284.593333,286.029645,283.157021,286.917000,282.269666,288.353312,280.833354

In [15]:
df_woodie = df_original.copy()

# Woodie S/R
df_woodie['PP'] = (df_woodie['High'].shift(1) + df_woodie['Low'].shift(1) + 2 * df_woodie['Open']) / 4
df_woodie['R1'] = 2 * df_woodie['PP'] - df_woodie['Low'].shift(1)
df_woodie['S1'] = 2 * df_woodie['PP'] - df_woodie['High'].shift(1)
df_woodie['R2'] = df_woodie['PP'] + (df_woodie['High'].shift(1) - df_woodie['Low'].shift(1))
df_woodie['S2'] = df_woodie['PP'] - (df_woodie['High'].shift(1) - df_woodie['Low'].shift(1))
df_woodie['R3'] =  df_woodie['High'].shift(1) + 2 * (df_woodie['PP'] -  df_woodie['Low'].shift(1))
df_woodie['S3'] =  df_woodie['Low'].shift(1) - 2 * (df_woodie['High'].shift(1) - df_woodie['PP'])
df_woodie['R4'] = df_woodie['R3'] + (df_woodie['High'].shift(1) - df_woodie['Low'].shift(1))
df_woodie['S4'] = df_woodie['S3'] - (df_woodie['High'].shift(1) - df_woodie['Low'].shift(1))

In [17]:
df_woodie.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,PP,R1,S1,R2,S2,R3,S3,R4,S4
Date,,,,,,,,,,,,,,,,
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0,0,298.722504,299.915009,296.545013,302.092499,295.352509,303.285004,293.175018,306.654999,289.805023
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,297.252502,297.575012,294.705017,300.122498,294.382507,300.445007,291.835022,303.315002,288.965027
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,292.252495,291.564987,288.034988,295.782494,288.722496,295.094986,284.504990,298.624985,280.974991
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,285.932503,289.115005,281.085007,293.962502,277.902504,297.145004,273.055008,305.175003,265.025009
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,285.299995,287.589981,283.830002,289.059975,281.540016,291.349960,280.070023,295.109940,276.310043

In [18]:
df_classic = df_original.copy()

# Classic S/R
df_classic['PP'] = (df_classic['High'].shift(1) + df_classic['Low'].shift(1) + df_classic['Close'].shift(1)) / 3
df_classic['R1'] = 2 * df_classic['PP'] - df_classic['Low'].shift(1)
df_classic['S1'] = 2 * df_classic['PP'] - df_classic['High'].shift(1)
df_classic['R2'] = df_classic['PP'] + (df_classic['High'].shift(1) - df_classic['Low'].shift(1))
df_classic['S2'] = df_classic['PP'] - (df_classic['High'].shift(1) - df_classic['Low'].shift(1))
df_classic['R3'] = df_classic['PP'] + 2 * (df_classic['High'].shift(1) - df_classic['Low'].shift(1))
df_classic['S3'] = df_classic['PP'] - 2 * (df_classic['High'].shift(1) - df_classic['Low'].shift(1))
df_classic['R4'] = df_classic['PP'] + 3 * (df_classic['High'].shift(1) - df_classic['Low'].shift(1))
df_classic['S4'] = df_classic['PP'] - 3 * (df_classic['High'].shift(1) - df_classic['Low'].shift(1))

In [20]:
df_classic.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,PP,R1,S1,R2,S2,R3,S3,R4,S4
Date,,,,,,,,,,,,,,,,
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0,0,299.329997,301.129995,297.760000,302.699992,295.960002,306.069987,292.590007,309.439982,289.220011
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,298.693329,300.456665,297.586670,301.563324,295.823334,304.433319,292.953339,307.303314,290.083344
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,294.526672,296.113342,292.583344,298.056671,290.996674,301.586670,287.466675,305.116669,283.936676
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,285.683329,288.616659,280.586660,293.713328,277.653330,301.743327,269.623332,309.773326,261.593333
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,284.593333,286.176656,282.416677,288.353312,280.833354,292.113291,277.073374,295.873271,273.313395

In [23]:
df_denmark = df_original.copy()

df_denmark['X'] = np.nan
df_denmark['PP'] = np.nan
df_denmark['R1'] = np.nan
df_denmark['S1'] = np.nan

# Denmark S/R
for index, row in df_denmark.iterrows():
    if df_denmark['Open'].shift(1) == df_denmark['Close'].shift(1):
        df_denmark.loc[index, 'X'] = df_denmark['High'].shift(1) + df_denmark['Low'].shift(1) + 2 * df_denmark['Close'].shift(1)
    elif df_denmark['Close'].shift(1) > df_denmark['Open'].shift(1):
        df_denmark.loc[index, 'X'] = 2 * df_denmark['High'].shift(1) + df_denmark['Low'].shift(1) + df_denmark['Close'].shift(1)
    else:
        df_denmark.loc[index, 'X'] = 2 * df_denmark['Low'].shift(1) + df_denmark['High'].shift(1) + df_denmark['Close'].shift(1)
        df_denmark.loc[index, 'PP'] = df_denmark['X'] / 4
        df_denmark.loc[index, 'R1'] = df_denmark['X'] / 2 - df_denmark['Low'].shift(1)
        df_denmark.loc[index, 'S1'] = df_denmark['X'] / 2 - df_denmark['High'].shift(1)
    
# IF  OPENprev == CLOSEprev

#     X = HIGHprev + LOWprev + 2 * CLOSEprev

# ELSE IF CLOSEprev >  OPENprev

#     X = 2 * HIGHprev + LOWprev + CLOSEprev

# ELSE

#     X = 2 * LOWprev + HIGHprev + CLOSEprev

#     PP = X / 4

#     R1 = X / 2 - LOWprev
    
#     S1 = X / 2 - HIGHprev

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [24]:
df_camarilla = df_original.copy()

# Camarilla S/R
df_camarilla['PP'] = (df_camarilla['High'].shift(1) + df_camarilla['Low'].shift(1) + df_camarilla['Close'].shift(1)) / 3
df_camarilla['R1'] = df_camarilla['Close'].shift(1) + 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 12
df_camarilla['S1'] = df_camarilla['Close'].shift(1) - 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 12
df_camarilla['R2'] = df_camarilla['Close'].shift(1) + 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 6
df_camarilla['S2'] = df_camarilla['Close'].shift(1) - 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 6
df_camarilla['R3'] = df_camarilla['Close'].shift(1) + 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 4
df_camarilla['S3'] = df_camarilla['Close'].shift(1) - 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 4
df_camarilla['R4'] = df_camarilla['Close'].shift(1) + 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 2
df_camarilla['S4'] = df_camarilla['Close'].shift(1) - 1.1 * (df_camarilla['High'].shift(1) - df_camarilla['Low'].shift(1)) / 2

In [26]:
df_camarilla.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,PP,R1,S1,R2,S2,R3,S3,R4,S4
Date,,,,,,,,,,,,,,,,
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0,0,299.329997,299.868914,299.251081,300.177830,298.942165,300.486746,298.633249,301.413495,297.706500
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,298.693329,299.613089,299.086923,299.876172,298.823840,300.139255,298.560757,300.928503,297.771509
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,294.526672,294.493597,293.846430,294.817180,293.522847,295.140763,293.199264,296.111513,292.228514
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,285.683329,284.256072,282.783906,284.992155,282.047823,285.728239,281.311739,287.936488,279.103490
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,284.593333,284.344665,283.655335,284.689330,283.310670,285.033994,282.966006,286.067989,281.932011